<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="email" class="text-uppercase">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              aria-describedby="emailId"
              placeholder=""
              [(ngModel)]="employee.email"
            />
          </div>
          <div class="form-group">
            <label for="password" class="text-uppercase">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              aria-describedby="passwordId"
              placeholder=""
              [(ngModel)]="employee.password"
            />
            <small id="passwordId" class="form-text text-muted"
              >Password is required</small
            >
          </div>

          <div class="form-check">
            <button
              type="submit"
              class="btn btn-login float-right"
              [disabled]="btnDisable"
              (click)="login()"
            >
              Submit
            </button>
          </div>
        </form>
        <div class="copy-text">
          Created with <i class="fa fa-heart"></i> by
          <a href="http://grafreez.com">Fshop.com</a>
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img
                class="d-block img-fluid"
                src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2 class="text-dark">Welcome to Website</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
