<section id="employeeAdd">
  <div class="container p-2">
    <div class="position-absolute text-center m-auto" style="top: '50%'; left:0; right: 0; transition: translateY(-50%);" *ngIf="!employees">
      <h1>
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="employees" class="row mt-2">

      <div class="col-8">
        <h2>List employee</h2>
        <app-message></app-message>
        <hr />


        <div class=" " *ngIf="employees">
          <table class="table">
            <thead>
              <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <div *ngIf="!employees.length" class="px-2 py-2 my-auto">
                No Data
              </div>

              <tr *ngFor="let item of employees; index as i">
                <td class="align-middle">{{ i + 1 }}</td>
                <td class="align-middle" scope="row">
                  <a class="nav-link" [routerLink]="['/manage-employee/', item._id]">
                    {{ item.name }}
                  </a>
                </td>
                <td class="align-middle">{{ item.email }}</td>
                <td class="align-middle">{{ item.role }}</td>
                <td class="align-middle">
                  <div class="d-flex justify-content-between">
                    <div class="btn btn-outline-danger my-auto" (click)="delete(item._id)">
                      Delete
                    </div>
                    <div class="ml-2">
                      <app-employee-edit [id]="item._id" (updateFinished)="finished($event)">
                      </app-employee-edit>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-4">
        <form action="" #addEmployee="ngForm">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">Add New Employee</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="nameId"
                  placeholder="Enter your name employee" [(ngModel)]="employee.name" />
                <small id="nameId" class="form-text text-muted">Name is required</small>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="emailId"
                  placeholder="" [(ngModel)]="employee.email" />
                <small id="emailId" class="form-text text-muted">Email is required</small>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordId"
                  placeholder="" [(ngModel)]="employee.password" />
                <small id="passwordId" class="form-text text-muted">Password is required</small>
              </div>

              <div class="form-group">
                <label for="zone">Zone</label>
                <select class="form-control" name="zone" id="zone" [(ngModel)]="employee.zone">
                  <option>East</option>
                  <!-- D - T - N - B -->
                  <option>West</option>
                  <option>South</option>
                  <option>North</option>
                </select>
              </div>

              <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="status" [(ngModel)]="employee.status">
                  <option>East</option>
                  <option>Working</option>
                  <option>Resigned</option>
                  <option>Pending</option>
                </select>
              </div>

              <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" name="role" id="role" [(ngModel)]="employee.role">
                  <option>Leader</option>
                  <option>Employee</option>
                </select>
              </div>
            </div>
            <div class="card-footer text-muted">
              <button class="btn btn-outline-primary btn-block" [disabled]="btnDisable" (click)="save();
                addEmployee.resetForm()">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
