<div id="project-edit">
  <form #projectEditForm="ngForm">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title text-center">Edit Employee</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-auto text-center" *ngIf="isLoading">
          <div>
            <i class="fa fa-spinner fa-spin"></i>
          </div>
        </div>

        <form action="">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  aria-describedby="nameId"
                  placeholder="Enter your name employee"
                  [(ngModel)]="employee.name"
                />
                <small id="nameId" class="form-text text-muted"
                  >Name is required</small
                >
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  id="email"
                  aria-describedby="emailId"
                  placeholder=""
                  [(ngModel)]="employee.email"
                />
                <small id="emailId" class="form-text text-muted"
                  >Email is required</small
                >
              </div>

              <div class="form-group">
                <label for="zone">Zone</label>
                <select
                  class="form-control"
                  name="zone"
                  id="zone"
                  [(ngModel)]="employee.zone"
                >
                  <option>East</option>
                  <!-- D - T - N - B -->
                  <option>West</option>
                  <option>South</option>
                  <option>North</option>
                </select>
              </div>

              <div class="form-group">
                <label for="status">Status</label>
                <select
                  class="form-control"
                  name="status"
                  id="status"
                  [(ngModel)]="employee.status"
                >
                  <option>East</option>
                  <option>Working</option>
                  <option>Resigned</option>
                  <option>Pending</option>
                </select>
              </div>

              <div class="form-group">
                <label for="role">Role</label>
                <select
                  class="form-control"
                  name="role"
                  id="role"
                  [(ngModel)]="employee.role"
                >
                  <option>Leader</option>
                  <option>Employee</option>
                </select>
              </div>
            </div>
            <app-message></app-message>

            <div class="card-footer text-muted">
              <button
                class="btn btn-outline-primary btn-block"
                [disabled]="btnDisable"
                (click)="update()"
              >
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="c('Close click')"
        >
          Close
        </button>
      </div>
    </ng-template>
    <button class="btn btn-outline-primary my-auto" (click)="open(content)">
      Edit
    </button>
  </form>
</div>
